@import "https://bootswatch.com/4/flatly/bootstrap.min.css";
.loginContainer{
  width: 60%;
  padding-top: 10px;
}
/*.loginContainer button{
  float: right;
}
#loginInfo{
  padding-bottom: 15px;

}
#loginInfo button, h3{
  display: inline;
}*/

/*input[type=text], [type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}*/
.action button {
  width: 49%;
 /* background-color: #405061;
  color: white;
  padding: 14px 30px;
  margin: 13px 0;
  border: white;
  border-radius: 4px;
  cursor: pointer;*/

}
.action{
  padding: 2px;
  display:inline;
}
