<div class="loginContainer">
  <div id="loginInput">
    <h3 i18n="loginHeader">Bitte die Jira-Logindaten eingeben</h3>
    <form [formGroup]="inputForm"><!--(ngSubmit)="submitLoginData(inputForm.value)">-->
      <div class="form-group"><label i18n="userName">Username: </label>
        <input class="form-control" type="text" formControlName="loginUserName"></div>
      <div class="form-group"><label i18n="password">Passwort: </label>
        <input class="form-control" type="password" formControlName="password"></div>
      <div class="action">
        <button i18n="submit" class="btn btn-primary" type="submit" (click)="submitLoginData(inputForm.value)">
          Absenden
        </button>
      </div>
      <div class="action">
        <button i18n="back" class="btn btn-primary" (click)="cancel()">Zurück</button>
      </div>
    </form>
  </div>

</div>


