<div id="inputForm">
  <h3 i18n="inputHeader">Bitte geben Sie die Daten des Studenten ein:</h3>
  <form [formGroup]="inputForm">
    <div class="form-group">
      <label i18n="firstName">Vorname</label>
      <input i18n-placeholder type="text" class="form-control" id="firstName" formControlName="firstName"
             placeholder="Vorname">
    </div>
    <div class="form-group">
      <label i18n="lastName">Nachname</label>
      <input i18n-placeholder type="text" class="form-control" id="lastName" formControlName="lastName"
             placeholder="Nachname">
    </div>
    <div class="form-group">
      <label i18n="jiraUserName"> Jira Username</label>
      <input i18n-placeholder type="text" class="form-control" id="userName" formControlName="userName"
             placeholder="Username">
    </div>
    <div class="form-group">
      <label> Student Email</label>
      <input i18n-placeholder type="text" class="form-control" id="studentEmail" formControlName="studentEmail"
             placeholder="Student Email">
    </div>
    <div>
      <div class="action">
        <button i18n="submit" type="submit" class="btn btn-primary" (click)="submitStudentData(inputForm.value)">
          Absenden
        </button>
      </div>
      <div class="action">
        <button i18n="back" class="btn btn-primary" (click)="cancel()">Zurück</button>
      </div>
    </div>
  </form>
</div>

<!--<div class="alert alert-danger  fade show" id="alert" role="alert">
  <strong>Error!</strong> {{errorMessage}}
  <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->

<!--<div *ngIf="showModal" id="errorModal">
  <div id="errorDisplay">
  <h2 id="errorMessage">Error</h2>
  <button>close</button>
  </div>
</div>-->
