
  <h1>Timesheets</h1>
  <div class="navigation">
    <button class="arrow left" (click)="getLastMonth()"></button>
    <h3>{{this.monthName}}</h3>
    <button class="arrow right" (click)="getNextMonth()"></button>
  </div>
  <nav>
    <button i18n id="routerLink" routerLink="/input">Student hinzufügen</button>
  </nav>
  <div id="tableContent">
    <table class="table table-striped">
      <thead class="thead">
      <th i18n="firstName">Vorname</th>
      <th i18n="lastName">Nachname</th>
      <th i18n="userName">UserName</th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tr scope="row" *ngFor="let timesheet of timesheets">
        <td> {{timesheet.student.firstName}}</td>
        <td> {{timesheet.student.lastName}}</td>
        <td>{{timesheet.student.userName}}</td>
        <td>
          <button (click)="createExcel(timesheet)">Download Timesheet</button>
        </td>
        <td>
          <button i18n="openTimesheet" [disabled]="!timesheet.fileExists" (click)="openExcel(timesheet)">Timesheet
            anzeigen
          </button>
        </td>
        <td>
          <button i18n="deleteStudent" (click)="showDialog(timesheet)" data-toggle="modal" data-target="#deleteModal">
            Student Löschen
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="modal" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 i18n="deleteModalTitle" class="modal-title">Löschen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p i18n="deleteModalBody">Nur diesen Studenten oder alle zugehörigen Timesheets löschen?</p>
        </div>
        <div class="modal-footer">
          <button i18n="optionDeleteStudent" type="button" (click)="deleteStudent()" class="btn btn-primary"
                  data-dismiss="modal">Nur Student
          </button>
          <button i18n="optionDeleteTimesheets" type="button" (click)="deleteTimesheet()" class="btn btn-primary"
                  data-dismiss="modal">Student und alle seine Timesheets
          </button>
          <button i18n="cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        </div>
      </div>
    </div>




