/* HeroesComponent's private CSS styles */
.students {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}
.students td {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.students th {
  cursor: pointer;
  position: relative;
  left: 0;
  color: white;
  background-color: #405061;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
