<div class="navigation">
  <button class="arrow left" (click)="getLastMonth()"></button>
  <h2>{{this.monthName}}</h2>
  <button class="arrow right" (click)="getNextMonth()"></button>
</div>
<table class="students">
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>UserName</th>
    <th>Download</th>
    <th>Open</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let student of students">
    <td> {{student.firstName}}</td>
    <td> {{student.lastName}}</td>
    <td>{{student.userName}}</td>
    <td>
      <button (click)="createExcel(student)">Download Excel</button>
    </td>
    <td>
      <button [disabled]="!student.fileExists" (click)="openExcel(student)">open</button>
    </td>
    <td><input type="checkbox"></td>
  </tr>
</table>

